<div class="shops-contents">
  <header class="shops-post-header">
    <%= link_to image_tag('OsakaWalker LOGO.jpg' , size: '300x80'), root_path %>

  </header>
  <div class="shops-post-main">
    <h2 class="shops-post-title">ショップ情報を編集</h2>
    <%= form_with model: @shop, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# ショップ画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ショップ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, id:"shop-image", multiple: true %>
      </div>
    </div>
    <%# /ショップ画像 %>

    <%# ショップのジャンル %>
    <div class="shops-genre">
      <div class="weight-bold-text">
        ショップジャンル
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:shop_genre_id, ShopGenre.all, :id, :name, {}, {class:"select-box", id:"shop-genre"}) %>
    </div>
    <%# /ショップのジャンル %>

    <%# ショップ名と説明 %>
    <div class="new-shops">
      <div class="weight-bold-text">
        ショップ名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :shop_name, class:"shops-text", id:"shop_name", placeholder:"ショップ名（必須 30文字まで)", maxlength:"40" %>
      <div class="shops-explain">
        <div class="weight-bold-text">
          ショップの説明など
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :introduction, class:"shops-text", id:"introduction", placeholder:"ショップの説明など（必須 300文字まで）（テイストや特徴、アクセス手段など自由可）" ,rows:"7" ,maxlength:"300" %>
      </div>
    </div>
    <%# /ショップ名と説明 %>

    <%# ショップの所在地 %>
    <div class="shops-place">
      <div class="weight-bold-text">
        <span>ショップ所在地</span>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"shop-prefectures"}) %>
        <div class="weight-bold-text">
          市区町村
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shop_city_id, ShopCity.all, :id, :name, {},  {class:"select-box", id:"shop-city"}) %>
        <div class="weight-bold-text">
          それ以降
          <span class="optional">任意</span>
        </div>
        <%= f.text_area :shop_address, class:"shops-text", id:"shop_address", placeholder:"(任意)", maxlength:"40" %>
      </div>
    </div>
    <%# /ショップの所在地 %>

    <%# 下部ボタン %>
    <div class="post-btn-contents">
      <%= f.submit "編集を完了する" ,class:"post-btn" %>
      <%=link_to '削除する', shop_path(@shop.id), method: :delete, class:"delete-btn", data: {confirm: "削除しますか？"} %>
      <%=link_to 'キャンセル', shop_path(@shop.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>

<script>
  const post = document.getElementsByClassName('post-btn');
  const posts = Array.from(post);

  posts.forEach(function(postss) {
    postss.addEventListener('click', function() {
      window.alert('変更が正常に行われました。');
    });
  });
</script>

<%= render "shared/footer" %>