<%= render "shared/header" %>

<div class="main">
  <div class="main-inner">
    <div class="upper-part">
      <%= form_with(url: search_shop_path(:shop_id), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "Shop search...", autocomplete: "off", class: "search-input" %>
        <%= form.submit "🔍", class: "search-btn" %>
      <% end %>
      <% if user_signed_in? %>
      <div class="log_chk">ようこそ
        <%= link_to "#{current_user.username}", "#", class: :greeting__link %> さん
        <%= image_tag("niko.svg", class: :icon) %>
      </div>
      <% end %>
    </div>

    <%# スライダー %>
    <div class="container-zone">
      <div class="container">
        <div class="swiper infinite-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <%= image_tag "70BOSAKA.jpeg", alt: "画像1" %>
              <%= image_tag "SQUAREFURNITURE.jpeg", alt: "画像2" %>
              <%= image_tag "TRUCKFURNITURE.jpeg", alt: "画像3" %>
              <%= image_tag "Armonia.jpeg", alt: "画像4" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# ピックアップ %>
    <div class="center">
      <div class="pickup-contents">
        <div class='service-title'>
          <p>New Shops</p>
        </div>

        <div class="top_menu">
          <%# 新着投稿 Fashion %>
          <div class="new_shops_genre">
            <%= link_to image_tag("Fashion.png", class: :fashion_interior_btn), fashion_shops_path %>
            <ul class="new_shops">
              <% @fashion.first(5).each do |shop| %>
                <li class="new_shop_contents">
                  <div class="new_shop_content">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="new_shop_content">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %>
                  </div>
                  <div class="new_shop_content">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

          <%# 新着投稿 Food %>
          <div class="new_shops_genre">
            <%= link_to image_tag("Food.png", class: :food_btn), food_shops_path %>
            <ul class="new_shops">
              <% @food.first(5).each do |shop| %>
                <li class="new_shop_contents">
                  <div class="new_shop_content">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="new_shop_content">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %>
                  </div>
                  <div class="new_shop_content">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

          <%# 新着投稿 Interior %>
          <div class="new_shops_genre">
            <%= link_to image_tag("Interior.png", class: :fashion_interior_btn), interior_shops_path %>
            <ul class="new_shops">
              <% @interior.first(5).each do |shop| %>
                <li class="new_shop_contents">
                  <div class="new_shop_content">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="new_shop_content">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %>
                  </div>
                  <div class="new_shop_content">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </div> 
  </div>
</div>
<%= render "shared/footer" %>