<%= render "shared/header" %>

<div class="main">
  <div class="main-inner">
    <div class="upper-part">
      <%= form_with(url: search_shop_path(:shop_id), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "Shop search...", class: "search-input" %>
        <%= form.submit "🔍", class: "search-btn" %>
      <% end %>
      <% if user_signed_in? %>
      <div class="log_chk">ようこそ
        <%= link_to "#{current_user.username}", "#", class: :greeting__link %> さん
        <%= image_tag("niko.svg", class: :icon) %>
      </div>
      <% end %>
    </div>

    <%# スライダー %>
    <div class="container-zone">
      <div class="container">
        <div class="swiper infinite-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <%= image_tag "70BOSAKA.jpeg", alt: "画像1" %>
              <%= image_tag "SQUAREFURNITURE.jpeg", alt: "画像2" %>
              <%= image_tag "TRUCKFURNITURE.jpeg", alt: "画像3" %>
              <%= image_tag "Armonia.jpeg", alt: "画像4" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# ピックアップ %>
    <div class="center">
      <div class="pickup-contents">
        <div class='service-title'>
          PICK UP
        </div>

        <%# 衣食住 New %>
        <div class="top_menu">
          <div class="link-icon">
            <%= link_to image_tag("Fashion.png", class: :fa_in_btn), fashion_shops_path %>
            <%= link_to image_tag("Food.png", class: :food_btn), food_shops_path %>
            <%= link_to image_tag("Interior.png", class: :fa_in_btn), interior_shops_path %>
          </div>

          <%# 新着投稿 %>
          <div class="topic">

            <%# 新着投稿 Fashion %>
            
            <ul class="messages">
              <% @fashion.first(5).each do |shop| %>
                <li class="message">
                  <div class="message-text">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="message-text">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %><br>
                  </div>
                  <div class="message-text">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
            </ul>
           
            <%# 新着投稿 Food %>
           
            <ul class="messages">
              <% @food.first(5).each do |shop| %>
                <li class="message">
                  <div class="message-text">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="message-text">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %><br>
                  </div>
                  <div class="message-text">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
             </ul>

            <%# 新着投稿 Interior %>
           
            <ul class="messages">
              <% @interior.first(5).each do |shop| %>
                <li class="message">
                  <div class="message-text">
                    <%= shop.created_at.strftime("%Y/%m/%d") %>
                  </div>
                  <div class="message-text">
                    <%= link_to shop.shop_name, shop_path(shop.id), class: :detail_link %><br>
                  </div>
                  <div class="message-text">
                    <%= shop.shop_city.name %>
                  </div>
                </li>
              <% end %>
             </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<%= render "shared/footer" %>
