<%= render "shared/header" %>

<div class="main">
  <div class="main-inner">
    <div class="upper-part">
      <%= form_with(url: search_shop_path(:shop_id), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "ショップを検索する", class: "search-input" %>
        <%= form.submit "🔍", class: "search-btn" %>
      <% end %>
      <% if user_signed_in? %>
      <div class="log_chk">ようこそ
        <%= link_to "#{current_user.username}", "#", class: :greeting__link %> さん
        <%= image_tag("niko.svg", class: :icon) %>
      </div>
      <% end %>
    </div>

    <%# スライダー %>
    <div class="container-zone">
      <div class="container">
        <div class="swiper infinite-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/70B OSAKA.jpeg" alt="画像1" /></div>
            <div class="swiper-slide"><img src="assets/ANTRY.webp" alt="画像2" /></div>
            <div class="swiper-slide"><img src="assets/SQUARE FURNITURE.jpeg" alt="画像3" /></div>
            <div class="swiper-slide"><img src="assets/TRUCK FURNITURE.jpeg" alt="画像4" /></div>
            <div class="swiper-slide"><img src="assets/Armonia.jpeg" alt="画像5" /></div>
          </div>
        </div>
      </div>
    </div>

    <%# ピックアップ %>
    <div class="center">
      <div class="pickup-contents">
        <div class='service-title'>
          PICK UP
        </div>

        <%# 衣食住 New %>
        <div class="top_menu">
          <div class="link-icon">
            <%= link_to image_tag("Fashion.png", class: :fa_in_btn), "#" %>
            <%= link_to image_tag("Food.png", class: :food_btn), "#" %>
            <%= link_to image_tag("Interior.png", class: :fa_in_btn), "#" %>
          </div>

          <%# 新着投稿 Fashion %>
          <div class="topic">
            <ul class="messages">
              <li class="message">
                <div class="message-date">2019/10/06</div>
                <div>堺市　藤谷商店</div>
              </li>
              <li class="message">
                <div class="message-date">2019/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2019/09/27</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/09/27</div>
                <div>##</div>
              </li>
            </ul>
        
            <%# 新着投稿 Food %>
            <ul class="messages">
              <li class="message">
                <div class="message-date">2019/10/06</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2019/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2019/09/27</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/09/27</div>
                <div>##</div>
              </li>
            </ul>

            <%# 新着投稿 Interior %>
            <ul class="messages">
              <li class="message">
                <div class="message-date">2019/10/06</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2019/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2019/09/27</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/10/03</div>
                <div>##</div>
              </li>
              <li class="message">
                <div class="message-date">2018/09/27</div>
                <div>##</div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div> 
  </div>
</div>
<%= render "shared/footer" %>
