<%= render "shared/header" %>

<div class="shopdetails-main">
  <div class="shopdetails-inner">
    <h2 class="shopdetails-title">
      SHOP DETAILS
    </h2>
    <div class="shopdetail">
      <div class="detail-image">
        <%= image_tag @shop.images[0], class: 'detail_shop_image' %>
      </div>
      <div class="detail-contents">
        <% if user_signed_in? && current_user.id == @shop.user_id %>
        <div class="content-edit">
          <%= link_to image_tag("sozai_cman_jp_20220906191451.png", class: :setting_icon), edit_shop_path(@shop.id) %>
          <p class="fukidashi">編集</p>
        </div>
        <% end %>
        <div class="detail-name">
          <%= @shop.shop_name %>
        </div>
        <div class="details">
          <div class="detail-introduction">
            <%= @shop.introduction %><br>
          </div>
          <div class="detail-address">
            <span><%= image_tag("sozai_cman_jp_20220909150352.png", class: :position_icon) %></span>
            <%= @shop.prefecture.name %><%= @shop.shop_city.name %><%= @shop.shop_address %>
          </div>
          <div class="detail-user">
            <span>post by</span><%= link_to @shop.user.username, user_path(@shop.user.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# 口コミ投稿&一覧 %>
  <div class="evaluation_container">

    <%# 口コミ投稿フォーム %>
    <div class="evaluation-inner">
      <div class="evaluation-title">
        クチコミを投稿する
      </div>
      <% if user_signed_in? %>
        <%= form_with(model: @comment, url: shop_evaluation_comments_path(@shop.id), local: true) do |f| %>

        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-parts">
          <div class="title-label">
            <%= f.label :title, 'タイトル', class:"title-label" %>
          </div>
          <%= f.text_field :title, placeholder:"(必須)", class: "title-form" %>
        </div>
        <div class="form-parts">
          <%= f.label :content, 'クチコミ内容', class:"content-label" %>
          <%= f.text_area :content, rows:'5', placeholder:"クチコミ内容がなくても、タイトルと評価のみで投稿できます", class: "content-form" %>
        </div>
        <div class="rating-form">  
          <div class="rating-star">評価</div>
          <%= f.hidden_field :rate %>
        </div>
        <%= f.submit "投稿", class:'evaluation-post-btn' %>
        <% end %>
      <% else %>
        <strong><p>※※※ クチコミの投稿には新規登録/ログインが必要です ※※※</p>
        </strong>
      <% end %>
      <%# /口コミ投稿フォーム %>
    </div>

    <%# 口コミ一覧 %>
    <div class="evaluation-inner">
      <div class="evaluation_comments">
        <div class="evaluation-comments-title">
          <%= @shop.shop_name %>  クチコミ一覧
        </div>
        
        <%# コメント繰り返し処理 %>
        <% @evaluation_comments.each do |comment| %>
          <div class="evaluation-lists">
            <div class="evaluation-group">
              <div class="evaluation-row">
                <div class="evaluation-list-name">
                  <%= link_to comment.user.username, "/users/#{comment.user_id}" %>
                </div>
                <div class="evaluation-list-title">
                  <%= comment.title %>
                </div>
                <div class="shop-evaluation" data-score="<%= comment.rate %>"></div>
                <div class="score-display">
                  （<%= comment.rate %>点）
                </div>

                <% if user_signed_in? && current_user.id == comment.user_id %>
                <div class="comment-delete-btn">
                  <%=link_to '削除', shop_evaluation_comment_path(@shop.id, comment.id), method: :delete, data: {confirm: "削除しますか？"} %>
                </div>
                <% end %>

              </div>
              <div class="evaluation-list-content">
                <%= comment.content %>
              </div>
            </div>
          </div>
        <% end %>
        <%# /コメント繰り返し処理 %>

      </div>
    </div>
    <%# /口コミ一覧 %>
  </div>
</div>

<%# クチコミ投稿の評価 %>
<script>
  $('.rating-form').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'evaluation_comment[rate]',
      half: true,
  });
</script>

<%# クチコミ一覧の評価 %>
<script>
  $('.shop-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<%= render "shared/footer" %>