<%= render "shared/header" %>

<div class="shopdetails-main">
  <div class="shopdetails-inner">
    <h2 class="shopdetails-title">
      SHOP DETAILS
    </h2>
    <div class="shopdetail">
      <div class="detail-image">
        <%= image_tag @shop.images[0], class: 'detail_shop_image' %>
      </div>
      <div class="detail-contents">
        <%= link_to image_tag("sozai_cman_jp_20220906191451.png", class: :setting_icon), "#" %>
        <div class="detail-name">
          <%= @shop.shop_name %>
        </div>
        <div class="details">
          <div class="detail-introduction">
            <%= @shop.introduction %><br>
          </div>
          <div class="detail-address">
            <span><%= image_tag("sozai_cman_jp_20220909150352.png", class: :position_icon) %></span>
            <%= @shop.prefecture.name %><%= @shop.shop_city.name %><%= @shop.shop_address %>
          </div>
          <div class="detail-user">
            <span>post by</span><%= link_to @shop.user.username, "#" %>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="evaluation-field">
      <% if user_signed_in? %>
        <%= form_with(model: [@shop, @evaluation_comment], local: true) do |f| %>

        <div class="form-group">
          <%= f.label :title, 'タイトル', class:"title-label" %>
          <%= f.text_field :title, class: "title-form" %>
        </div>
        <div class="form-group">
          <%= f.label :content, '内容', class:"content-label" %>
          <%= f.text_area :content, rows:'5', class: "content-form" %>
        </div>
        <div id="rating-form">
          <label>評価：</label>
          <%# scoreNameの値をhidden_fieldでカラムに送っている %>
          <%= f.hidden_field :rate, :value => 'score' %>
        </div>
        <div class="evaluation-post-btn"></div>
          <%= f.submit "投稿" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        </strong>
      <% end %>
    </div>

    <div class="evaluation_comments">
      <h4>＜コメント一覧＞</h4>
      <% @evaluation_comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.title %>
          <%= comment.content %>
        </p>
      <% end %>
    </div>
  </div>

  </div>
</div>

<script>
  $('#rating-form').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'evaluation_comment[rate]'
  });
</script>

<%= render "shared/footer" %>