<%= render "shared/header" %>

<div class="shopdetails-main">
  <div class="shopdetails-inner">
    <h2 class="shopdetails-title">
      SHOP DETAILS
    </h2>
    <div class="shopdetail">
      <div class="detail-image">
        <%= image_tag @shop.images[0], class: 'detail_shop_image' %>
      </div>
      <div class="detail-contents">
        <%= link_to image_tag("sozai_cman_jp_20220906191451.png", class: :setting_icon), "#" %>
        <div class="detail-name">
          <%= @shop.shop_name %>
        </div>
        <div class="details">
          <div class="detail-introduction">
            <%= @shop.introduction %><br>
          </div>
          <div class="detail-address">
            <span><%= image_tag("sozai_cman_jp_20220909150352.png", class: :position_icon) %></span>
            <%= @shop.prefecture.name %><%= @shop.shop_city.name %><%= @shop.shop_address %>
          </div>
          <div class="detail-user">
            <span>post by</span><%= link_to @shop.user.username, "#" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# 口コミ投稿&一覧 %>
  <div class="evaluation_container">

    <%# 口コミ投稿フォーム %>
    <div class="evaluation-field">
      <div class="evaluation-inner">
        <div class="evaluation-title">
          口コミを投稿する
        </div>
        <% if user_signed_in? %>
          <%= form_with(model: [@shop, @evaluation_comment], local: true) do |f| %>

          <div class="form-parts">
            <div class="title-label">
              <%= f.label :title, 'タイトル', class:"title-label" %>
            </div>
            <%= f.text_field :title, class: "title-form" %>
          </div>
          <div class="form-parts">
            <%= f.label :content, '口コミ内容', class:"content-label" %>
            <%= f.text_area :content, rows:'5', placeholder:"口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！投稿してから編集もできますよ！", class: "content-form" %>
          </div>
          <div class="rating-form">  
            <div class="rating-star">評価</div>
            <%= f.hidden_field :rate %>
          </div>
          <%= f.submit "投稿", class:'evaluation-post-btn' %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
          </strong>
        <% end %>
      </div>
    </div>
    <%# /口コミ投稿フォーム %>

    <%# 口コミ一覧 %>
    <div class="evaluation_comments">
      <h4>＜口コミ一覧＞</h4>
      <div class="evaluation-lists">
        <% @evaluation_comments.each do |comment| %>
          <div class="evaluation-group">
            <div class="evaluation-row1">
              <%= comment.title %>
              <div class="shop-evaluation" data-score="<%= comment.rate %>"></div>
              <div class="score-display">
                （<%= comment.rate %>点）
              </div>
              </div>
            </div>
            <div class="evaluation-row2">
              <%= comment.content %>
            </div>
            <div class="evaluation-row3">
              <%= link_to comment.user.username, "/users/#{comment.user_id}" %>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
    <%# /口コミ一覧 %>
  </div>
</div>

<script>
  $('.rating-form').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'evaluation_comment[rate]',
      half: true,
  });
</script>

<script>
  $('.shop-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<%= render "shared/footer" %>