<header class="top-page-header">
  <div class="headline">
    <h2>大阪のお洒落なお店がシェアできる・見つかるウェブサイト</h2>
  </div>
  <div class="header-main">
    <div class="nav">
        <%= link_to image_tag("OsakaWalker LOGO.jpg", class: :logo), "/" %>
      <div class="nav__center">
        <ul class="nav__list">
          <li class="nav_link">
            <%= link_to "FASHION", fashion_shops_path %>
            <%# Category ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Amekaji/", "#", class: :dropdown__list %>
              <%= link_to "Outdoor/", "#", class: :dropdown__list %>
              <%= link_to "Used/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "FOOD", food_shops_path %>
            <%# News ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Washoku/", "#", class: :dropdown__list %>
              <%= link_to "Yōshoku/", "#", class: :dropdown__list %>
              <%= link_to "Chūka/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "INTERIOR", interior_shops_path %>
            <%# Ranking ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Modern/", "#", class: :dropdown__list %>
              <%= link_to "Hokuōfū/", "#", class: :dropdown__list %>
              <%= link_to "Vintage/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
        </ul>
      </div>
      
      <%# ログイン有無で表示切り替え %>
      <% if user_signed_in? %>
      <div class="nav__right"> 
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        <%= link_to "New Shop", new_shop_path, class: :shop__btn %>
      </div> 
      <% else %>
      <div class="nav__right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
      <% end %>

    </div>
  </div>
</header>