<header class="top-page-header">
  <div class="headline">
    <h2>大阪で過ごす休日に行きたい場所が見つかるウェブサイト</h2>
  </div>
  <div class="header-main">
    <div class="nav">
        <%= link_to image_tag("OsakaWalker LOGO.jpg", class: :logo), root_path %>
      <div class="nav__center">
        <%= link_to "Category", "#", class: :nav_link %>
        <%= link_to "News", "#", class: :nav_link %>
        <%= link_to "Ranking", "#", class: :nav_link %>
        <%= link_to "Contact", "#", class: :nav_link %>
      </div>
      
      <%# ログイン有無で表示切り替え %>
      <% if user_signed_in? %>
      <div class="nav__right"> 
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        <%= link_to "New Shop", new_shop_path, class: :shop__btn %>
      </div> 
      <% else %>
      <div class="nav__right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
      <% end %>

    </div>
  </div>
</header>