<header class="top-page-header">
  <div class="headline">
    <h2>大阪で過ごす休日に行きたい場所が見つかるウェブサイト</h2>
  </div>
  <div class="header-main">
    <div class="nav">
        <%= link_to image_tag("OsakaWalker LOGO.jpg", class: :logo), root_path %>
      <div class="nav__center">
        <ul class="nav__list">
          <li class="nav_link">
            <%= link_to "Category", "#" %>
            <%# Category ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Fashion", "#", class: :dropdown__list %>
              <%= link_to "Food", "#", class: :dropdown__list %>
              <%= link_to "Interior", "#", class: :dropdown__list %>
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "News", "#" %>
            <%# News ドロップダウンメニュー %>
            <ul class="dropdown__lists">
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "Ranking", "#" %>
            <%# Ranking ドロップダウンメニュー %>
            <ul class="dropdown__lists">
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "Contact", "#" %>
            <%# Contact ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Access", "#", class: :dropdown__list %>
              <%= link_to "Form", "#", class: :dropdown__list %>
            </ul>
          </li>
        </ul>
      </div>
      
      <%# ログイン有無で表示切り替え %>
      <% if user_signed_in? %>
      <div class="nav__right"> 
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        <%= link_to "New Shop", new_shop_path, class: :shop__btn %>
      </div> 
      <% else %>
      <div class="nav__right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
      <% end %>

    </div>
  </div>
</header>