<header class="top-page-header">
  <div class="headline">
    <h2>大阪で行きたい場所が見つかるウェブサイト</h2>
  </div>
  <div class="header-main">
    <div class="nav">
        <%= link_to image_tag("OsakaWalker LOGO.jpg", class: :logo), "/" %>
      <div class="nav__center">
        <ul class="nav__list">
          <li class="nav_link">
            <%= link_to "FASHION", "#" %>
            <%# Category ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Amekaji/", "#", class: :dropdown__list %>
              <%= link_to "Street/", "#", class: :dropdown__list %>
              <%= link_to "Outdoor/", "#", class: :dropdown__list %>
              <%= link_to "Used/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "FOOD", "#" %>
            <%# News ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Washoku/", "#", class: :dropdown__list %>
              <%= link_to "Yōshoku/", "#", class: :dropdown__list %>
              <%= link_to "Chūka/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
          <li class="nav_link">
            <%= link_to "INTERIOR", "#" %>
            <%# Ranking ドロップダウンメニュー %>
            <ul class="dropdown__lists">
              <%= link_to "Modern/", "#", class: :dropdown__list %>
              <%= link_to "Hokuōfū/", "#", class: :dropdown__list %>
              <%= link_to "Vintage/", "#", class: :dropdown__list %>
              <%= link_to "Others", "#", class: :dropdown__list %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>